body{
  background-color: #202124;
  color: white;
  
}

#root{
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 500px;
}


/* DayView */
#dayview-container{
    width: 400px;
    height: 150vmax;
    -webkit-backface-visibility: visible;
    transform-origin: top left;
    -webkit-transform: rotateX(34deg) rotateZ(355deg);
    backface-visibility: visible;
    transform: rotateX(34deg) rotateZ(355deg) translateY(-5vh);
}

.time-block{
  background-color: white;
  border-top: 1px solid lightgray;
  padding: 0.5em;
  position: absolute;
  font-size: 2em;
  color: darkgray;
  width: 250px;
  box-sizing: border-box;
  transition: height 0.25s, top 0.25s;
  transition-timing-function: ease-in-out;
}

.work-block-container{
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: height 0.5s, top 0.5s;
  transition-delay: 0.25s;
  transition-timing-function: ease-in-out;
}

.work-block{
  height: 70%;
  padding: 0.75em;
  position: absolute;
  font-size: 1.5em;
  color: darkgray;
  width: 260px;
  box-sizing: border-box;
  border-radius: 0.5em;

  /* transition from locked to unlocked */
  transition-delay: 0.5s !important;
  transition: 1s;

}

.work-block-locked{
  /* Ghost styling */
  backdrop-filter: blur(6px);

  /*border: 1px solid #d3d3d338; STYLE 1: 3D
  background-color: rgba(224, 224, 224, 0.189);
  box-shadow: #5252523b -26px 1px 20px 0px, inset #1a1a1a7a -7px -4px 9px, inset #ffffff7a 4px 5px 8px;*/ 
  border: 3px dashed #ffbe70;
  background-color: rgb(255 172 73 / 36%);
  box-shadow: #cf914975 -26px 1px 30px 0px;
  
  color: rgb(213 163 74);;
  font-weight: bold;



  margin-left: 30px;
}

.work-block-unlocked{
  backdrop-filter: blur(6px);
    border: 3px solid #95d3f8;
    background-color: rgb(175 227 255 / 81%);
    box-shadow: #49abcf4a -9px 1px 4px 0px;
    color: rgb(114 174 210);
    font-weight: bold;
    margin-left: 8px;
}









/* QR */
#qr-fab{
  position: fixed;
  bottom: 2em;
  left: 2em;
  background-color: aquamarine;
  height: 4em;
  min-width: 4em;
  font-weight: bold;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  padding: 1em 2em;
  box-sizing: border-box;
  align-items: center;
  border-radius: 100px;
  color: black;
  z-index: 5;
  cursor: pointer;
}

.popupDrawer{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(600px, 100vw);
  background-color: white;

  padding: 3em 2em;
  box-sizing: border-box;
  transition: bottom 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px 40px 0 0;
  z-index: 11;
}

.popupBackdrop{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.485);
  backdrop-filter: blur(5px);
  transition: opacity 1s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  z-index: 10;
}

#reader{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  font-weight: bold;
  font-size: 1em;
  min-height: min(50vw, 400px);
  border-radius: 20px
}
#reader video{
  border-radius: 20px
}


